div {
  margin: 10px;
}
#a {
  background-color: #ff0000ff;
}
#b {
  background-color: #ff8030ff;
}
#c {
  background-color: #fff830ff;
}
#d {
  background-color: #25c237ff;
}
#e {
  background-color: #1325adff;
}

